<p><stong>Hi {{ gift.user.nickname }},</stong></p>
<p>{{ wisher.nickname }} want《{{ gift.book.title }}》and you have this book on Fish Book waiting to be sent as a gift。</p>
<p>Click <a
        href="{{ url_for('web.pending', _external=True) }}">Here</a> to check the mail address.
</p>
<p>No matter whether or not you would like to send {{ wisher.nickname }} this book，please go to Fish Book to handle this request. </p>
<p>If it is not clickable, please copy and paste the URL into your browser's address bar:</p>
<p>{{ url_for('web.pending', _external=True) }}</p>
<p>Sincerely,</p>
<p>Fish Book</p>
<p>
    <small>Please do not reply this email</small>
</p>
